.acgn-page-header {
	height:376px;
	position:relative
}
.acgn-page-header .acgn-page-content {
	position:absolute;
	width:100%;
	top:0;
	left:0;
	bottom:0;
	right:0
}
.acgn-page-header .acgn-page-content .crumb,.acgn-page-header .acgn-page-content .crumb a,.acgn-page-header .acgn-page-content .crumb em {
	color:#fff
}
.acgn-page-header .acgn-page-content .crumb strong {
	color:#ffa6b0
}
.acgn-page-header .acgn-page-content .crumb a:hover {
	color:#ffa6b0
}
.acgn-page-header .acgn-page-title {
	font-size:60px;
	color:#fff;
	margin:0
}
.acgn-row .J_crumb {
	padding-top:32px;
	padding-bottom:32px
}
.acgn-row .J_crumb a,.acgn-row .J_crumb em,.acgn-row .J_crumb strong {
	color:#999
}
.acgn-rank-header-image {
	background-image:url(../images/rank-head-bg@2x.png);
	-moz-background-size:auto 100%;
	-o-background-size:auto 100%;
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:50%
}
.top-comic-content {
	position:absolute;
	bottom:0;
	left:0;
	width:100%
}
.top-comic {
	position:relative
}
.top-comic-list {
	position:absolute;
	right:0;
	bottom:-152px;
	font-size:0;
	width:100%;
	text-align:right
}
.top-comic-list .order-by {
	padding:4px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	border-radius:100px;
	position:absolute;
	top:6px;
	right:3px;
	color:#fff;
	font-size:12px;
	background-color:rgba(0,0,0,0.70);
	z-index:9
}
.top-comic-list .order-by i {
	vertical-align:text-top
}
.top-comic-list .comic-item {
	display:inline-block;
	margin-left:25px;
	position:relative;
	padding:10px 6px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.top-comic-list .comic-item .acgn-thumbnail,.top-comic-list .comic-item .acgn-thumbnail .cover {
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px
}
.top-comic-list .comic-item .acgn-thumbnail .cover {
	width:100%;
	height:100%
}
.top-comic-list .comic-item .rank-comic-content {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border-style:solid;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	border-bottom-width:10px;
	border-top-width:10px;
	border-left-width:6px;
	border-right-width:6px;
	background-color:#fff
}
.top-comic-list .comic-item .rank-comic-content.border-1 {
	border-color:#fff198
}
.top-comic-list .comic-item .rank-comic-content.border-2 {
	border-color:#d8d8d8
}
.top-comic-list .comic-item .rank-comic-content.border-3 {
	border-color:#f2ac56
}
.top-comic-list .comic-item .rank-1,.top-comic-list .comic-item .rank-2,.top-comic-list .comic-item .rank-3 {
	position:absolute;
	top:-60px;
	left:0;
	right:0;
	margin:auto;
	z-index:1
}
.top-comic-list .comic-item .comic-name {
	width:100%;
	height:117px;
	position:absolute;
	left:0;
	bottom:-3px;
	padding-top:75px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAB1CAYAAAH4obvIAAAAAXNSR0IArs4c6QAAARZJREFUKBVdkMlywjAQREXLkqsi5cQx//8d+QufqeIAxQW8sZkl021BUrmoZjxv3jS45/O5QNM0Cc65jO12m9C2bcbhcEgYhiFjv98ndF33tzLkg8gnYVXJmSpSlTGOY8Jut8vo+z6Ry+RKpW8mzZQm6suUrVsul19UeWw2mxqn0yngdrsFSiN9NaZpCjgejwHX6zWyjUwaZ842Is7ncyQScblcAp84wzYIlGpQON2QSmuCxam1Z81A4D/ksVqtPOq6BtN7SiuEEMDKM4tnDD3A/X73eDwehbNDxaIfKNimYCD/hita/u0Wnza0a2ZxC8LVfPJ1rWRRq8eiyVc4y4d3yHL3N7NV1ZxFnE5qKtWrkkDcSPj7B7IdSFw0Da72AAAAAElFTkSuQmCC");
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px
}
.top-comic-list .comic-item .comic-name .acgn-title {
	text-align:center;
	font-size:16px;
	font-weight:400;
	color:#fff;
	white-space:nowrap;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
	overflow:hidden
}
.top-comic-list .comic-item.comic-item-1 {
	width:264px;
	background:url(../images/bg-rank-1.png) no-repeat;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	background-size:100% 100%
}
.top-comic-list .comic-item.comic-item-1 .acgn-thumbnail {
	padding-bottom:134.4696969697%
}
.top-comic-list .comic-item.comic-item-2 {
	background:url(../images/bg-rank-2.png) no-repeat;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	background-size:100% 100%
}
.top-comic-list .comic-item.comic-item-3 {
	background:url(../images/bg-rank-3.png) no-repeat;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	background-size:100% 100%
}
.top-comic-list .comic-item.comic-item-2,.top-comic-list .comic-item.comic-item-3 {
	width:244px
}
.top-comic-list .comic-item.comic-item-2 .acgn-thumbnail,.top-comic-list .comic-item.comic-item-3 .acgn-thumbnail {
	padding-bottom:134.8360655738%
}
.acgn-rank-header-link {
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px
}
.acgn-rank-list .item {
	float:left;
	margin-right:24px;
	font-size:14px
}
.acgn-rank-list .item a {
	display:inline-block;
	width:88px;
	text-align:center;
	color:#333;
	background-color:#fff7f8;
	-webkit-border-radius:21px;
	-moz-border-radius:21px;
	border-radius:21px;
	line-height:32px;
	height:32px;
	font-size:18px
}
.acgn-rank-list .item a:hover {
	color:#f25267
}
.acgn-rank-list .item.active {
	position:relative
}
.acgn-rank-list .item.active .active-rank {
	position:absolute;
	top:-12px;
	left:0;
	right:0;
	margin:auto
}
.acgn-rank-list .item.active a {
	color:#fff;
	background-color:#ffa6b0
}
.acgn-rank-list .item.active a:after {
	content:"";
	position:absolute;
	z-index:1;
	width:35%;
	height:40px;
	background-image:url(../images/update-star.png);
	background-repeat:no-repeat;
	margin-top:-12px;
	margin-left:-6px;
	-moz-background-size:100%;
	-o-background-size:100%;
	background-size:100%
}
.acgn-rank-header-sort {
	margin:40px 0 25px
}
.acgn-rank-sort {
	padding:0 32px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.acgn-rank-sort .item {
	float:left;
	width:64px;
	height:32px;
	line-height:32px;
	text-align:center;
	color:#333;
	font-size:14px;
	cursor:pointer
}
.acgn-rank-sort .item:hover {
	color:#f25267
}
.acgn-rank-sort .item.active {
	background-image:url(../images/bg-cat-face.png);
	background-repeat:no-repeat;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	background-size:100% 100%;
	color:#fff
}
.acgn-rank-sort-container {
	margin-bottom:43px
}
.comic-sort-list {
	width:100%;
	margin-top:44px
}
.comic-sort-list .comic-item {
	width:15.4929577465%;
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	margin-right:16px!important
}
.comic-sort-list .comic-item.mrg0 {
	margin-right:0!important
}
.comic-sort-list .comic-item .item-order {
	position:absolute;
	left:-5px;
	top:-7px;
	z-index:9;
	font-size:12px;
	color:#fff;
	text-align:center;
	line-height:27px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.comic-sort-list .comic-item .item-order.mask-1 {
	background-image:url(../images/rank-top-1.png)
}
.comic-sort-list .comic-item .item-order.mask-2 {
	background-image:url(../images/rank-top-2.png)
}
.comic-sort-list .comic-item .item-order.mask-3 {
	background-image:url(../images/rank-top-3.png)
}
.comic-sort-list .comic-item .item-order[class*=mask-] {
	color:transparent;
	-moz-background-size:100%;
	-o-background-size:100%;
	background-size:100%;
	background-repeat:no-repeat;
	position:relative;
	left:-3px
}
.comic-sort-list.acgn-col4 .acgn-thumbnail {
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	padding-bottom:135%
}
.comic-sort-list.acgn-col4 .acgn-thumbnail .wave-container {
	left:0;
	top:0;
	bottom:auto
}
.comic-sort-list.acgn-col4 .acgn-thumbnail .wave-container .order-by {
	display:block!important;
	top:8px;
	left:8px;
	width:40%;
	text-align:center;
	border:1px solid #ffc6c6;
	background-color:#fff7f8;
	color:#f25267
}
.comic-sort-list.acgn-col4 .acgn-thumbnail .wave-container .order-by i {
	vertical-align:text-top
}
.comic-sort-list.acgn-col4 .acgn-info {
	margin-bottom:35px
}
.comic-sort-list.acgn-col4 .acgn-info .sort-img {
	display:inline-block;
	width:20px;
	font-size:10px;
	color:#fff;
	text-align:center
}
.comic-sort-list.acgn-col4 .acgn-info .sort-img img {
	position:relative;
	margin-top:-1px;
	left:-1px;
	width:23px
}